$card-color: #3e3d41;
$active-color: #fefefe;
$inactive-color: #949394;
$svg-color: #61dafb;
$active-border: 1px solid #efca5e;
$inactive-border: 1px solid transparent;
$cvv-strip-color-one:#fff3dd;
$cvv-strip-color-two:#e6efff;


.card-container {
  font-family: 'Stylish', sans-serif;
  width: 360px;
  height: 200px;
  margin: 20px 20px 20px 20px;
  border-radius: 15px;
  perspective: 1000px;

  .inactive {
    border: $inactive-border;
  }

  .active {
    border: $active-border;
  }
}

.card, .face {
  width:100%;
  height:100%;
  transition: all .5s linear;
}

.card {
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  backface-visibility: hidden;  
  border-radius:15px;
  background-color: $card-color;

  svg {
    color: $svg-color;
    font-size: 2rem;
  }
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #aaa;

  svg {
    align-self: flex-end;
    margin: 15px 20px 20px 20px;
  }

  .card-number {
    width: 95%;
    height: 43px;
    position: absolute;
    top: calc(50% - 1rem);
    color: $inactive-color;
    border-radius: 10px;

    .group {
      display: flex;
      position: absolute;
      font-size: 2rem;

      span {
        display: flex;
        justify-content: center;

        &.num {
          color: $active-color;
          min-width: 18px;
        }
      }
    }

    .group-0 {
      left: 8px;
    }

    .group-1 {
      left: 93px;
    }

    .group-2 {
      left: 178px;
    }
    .group-3 {
      left: 263px;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    color: $inactive-color;
    text-transform: uppercase;

    &.cardholder-name,
    &.valid-thru {
      position: absolute;
      bottom: 25px;

      > :first-child {
         font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
        font-size: .75rem;
        color: $active-color;
      }

      > :last-child {
        align-self: flex-start;
        border-radius: 5px;
        padding: 0px 5px;
        margin-left: -5px;
        display: flex;

        &.text,
        .text {
          color: $active-color;
        }
      }
    }

    &.cardholder-name {
      position: absolute;
      left: 20px;

      :last-child {
        margin-left: -5px;
      }
    }

    &.valid-thru {
      padding-left: 10px;
      right: 20px;
      background-color: $card-color;
      display: flex;
      min-width: 10px;

      > :last-child {
        span {
          display: flex;
          min-width: 12px;
        }
      }
    }
  }

}

.back {
  overflow:hidden;
  transform: rotateY(-180deg);
  box-shadow: 0px 0px 0px #aaa;

  .security-code {
    position: absolute;
    top: 45%;
    right: 25%;
    border-radius: 5px;

    div {
      padding: 5px 10px;
      background-color: #fefefe;
      border-radius: 2.5px;
      margin: 2px;
      display: flex;

      :before {
        top: -3px;
        left: -196px;
        position: absolute;
        content: '';
        height: 40px;
        background: linear-gradient(to top,
          $cvv-strip-color-one 12.5%,
          $cvv-strip-color-two 12.5% 25%,
          $cvv-strip-color-one 12.5% 37.5%,
          $cvv-strip-color-two 12.5% 50%,
          $cvv-strip-color-one 12.5% 62.5%,
          $cvv-strip-color-two 12.5% 75%,
          $cvv-strip-color-one 12.5% 87.5%,
          $cvv-strip-color-two 12.5% 100%
        );
        width: 195px;
      }

      span {
        display: flex;
        color: $inactive-color;
        &.num {
          min-width: 9px;
          color: #010101;
        }
      }
    }
  }

  svg {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }

  &:before {
    content: '';
    background-color: #000000;
    position: absolute;
    top: 25px;
    width: 100%;
    height: 40px;
  }
}

.flipped {
  transform: rotateY(-180deg);

  .front{
    box-shadow: 0 0 0 #aaa;
  }

  .back{
    box-shadow: 0px 5px 10px #aaa;
  }
}